.centeredLayout {
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;
}

button {
    width: calc(5 * var(--unit));
    height: calc(1 * var(--unit));

    font-size: calc(.5 * var(--unit));;
}